* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(./images/slider_img.jpg);
    padding-left: 98px;
    position: relative;
}

.header {
    padding-top: 63px;
}

.logo {
    float: left;
}

.menu {
    float: right; 
    margin-right: 211px;
}

.menu_li {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    text-align: center;
}

.menu-link:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
    text-decoration: none;
    padding: 10px 13px;
}

.slider-content {
    margin-top: 288px;
}

.slider-trending {
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #43a047;
}

.slider-h2 {
    font-size: 62px;
    line-height: 43px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -0.07em;
    margin-top: 22px;
}

.slider-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 458px;
    letter-spacing: -0.012em;
    margin-top: 34px;
}

.button-order {
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 22.5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

.button-order:active {
    box-shadow: none;
}

.pangination {
    list-style-type: none;
    position: absolute;
    top: 741px;
    left: 623px;
    width: 120px;
    height: 40px;
}

.circle {
    background-color: #c7c7c7;
    width: 30px;
    height: 30px;
    border-radius: 20.0px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 20.0px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.featured {
    height: 367px;
    padding: 120px 98px 120px 98px;
}

.featured-new-li {
    list-style-type: none;
}

.featured-new-link {
    font-size: 36px;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;
    border-bottom: solid 1px #e5e5e5;
    line-height: 27px;
    padding-left: 9px;
    padding-right: 20px;
    padding-bottom: 18px;
    float: left;
}

.featured-new-link-active {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    border-bottom: solid 1px #212121;
}

.button-explore {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    float: right;
    display: inline-block;
    line-height: 13px;
    margin-top: 18px;
}

.featured-products {
    margin-top: 50px;
}

.featured-product-li {
    list-style-type: none;
    float: left;
    padding-right: 30px;
}

.featured-product-li:last-child {
    padding-right: 0px; 
} 

.featured-product-link {
    width: 270px;
    display: inline-block;
}

.featured-product-link:hover {
    width: 270px;
    opacity: 0.1;
    background-color: #ffffff;
    outline: 1px solid #9c9c9c;
}


.promo {
    width: 374px;
    height: 683px;
    float: left;
    padding-left: 50px;
    padding-right: 259px;
}

.promo1 {
    background-image: url(./images/promo1.jpg);
}

.promo2 {
    background-image: url(./images/promo2.jpg);
}

.promo-exclusive {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    line-height: 20px;
    margin-top: 228px;
}

.promo-h4 {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    line-height: 0.9;
    margin-top: 18px;
}

.promo-text {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    letter-spacing: -0.012em;
    margin-top: 24px;
}

.trending-products {
    height: 868px;
    padding: 120px 98px 120px 98px; 
    clear: both;
}

.h4-trending-products {
    font-size: 36px;
    line-height: 35px;
    font-weight: 700;
    color: #212121;
    float:left;
}

.trending-products-list {
    margin-top: 64px;
}

.trending-product-li {
    list-style-type: none;
    float:left;
    padding-right: 30px;
}

.trending-product-li:nth-child(3) {
    padding-right: 0px; 
    padding-bottom: 30px; 
} 

.trending-product-li:last-child {
    padding-right: 0px; 
} 

.hot-deals {
    height: 800px;
    background-image: url(./images/slider2.jpg);
    padding-left: 98px; 
    position: relative;
}

.slider-hot-deal {
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #e53935;
    padding-top: 287px;
}

.exclusive-product {
    height: 810px;
}

.exclusive-main {
    width: 570px;
    height: 570px;
    float: left;
    padding-left: 98px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(./images/exclusive_1.jpg);
    background-repeat: no-repeat;
    background-position: center right; 
}

.exclusive-content {
    padding-left: 31px;
    padding-top: 186px;
    padding-right: 208px;
}

.exclusive-exclusive {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    line-height: 20px;
}

.exclusive-other {
    width: 570px;
    height: 570px;
    float: left;
    padding: 120px 98px 120px 30px; 
}

.exclusive-li {
    list-style-type: none;
    float:left;
}

.exclusive-li:nth-child(1) {
    padding-right: 30px
}

.exclusive-li:nth-child(3) {
    padding-right: 30px;
    padding-top: 30px;
}

.exclusive-li:nth-child(4) {
    padding-top: 30px;
}

.mobile-app {
    height: 516px;
    background-image: url(./images/app.jpg);
    padding-left: 98px;
}

.mobile-app-tag {
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #6c6c6c;
    padding-top: 125px;
}

.mobile-app-h2 {
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -0.07em;
    margin-right: 852px;
    margin-top: 22px;
}

.mobile-app-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 458px;
    letter-spacing: -0.012em;
    margin-top: 26px;
}

.icons {
    margin-top: 33px;
}

.icons-li {
    list-style-type: none;
    float: left; 
    margin-right: 10px;
}

.footer {
    height: 274px;
    background-color: #f7f7f7;
    padding-left: 97px;
    padding-top: 120px;
}

.contact-us {
    height: 147px;
    width: 300px;
    float:left;
}

.footer-head {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c; 
    margin-bottom: 24px;
}

.contacts {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width:221px;
}

.useful-information {
    height: 147px;
    width: 500px;
    float:left;
}

.list1 {
    float: left;
    width: 132px;
    margin-right: 103px;
}

.list2 {
    float: left;
    width: 187px;
    margin-right: 78px;
}

.useful-information-li {
    list-style-type: none;
    float: left;
}

.useful-information-link {
    text-decoration:none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
}

.stay-intouch {
    width: 370px;
    float: left;
}

.stay-intouch-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.email {
    margin-top: 26px;
    width:320px;
    height: 48px;
    background-color: #ffffff;
    border: 1.0px solid #d9dee1;
    float: left;
}

.submit {
    width: 48px;
    height: 50px;
    background-color: #ffffff;
    border-right: 1.0px solid #d9dee1;
    border-top: 1.0px solid #d9dee1;
    border-bottom: 1.0px solid #d9dee1;
    border-left: none;
    float:left; 
    margin-top: 26px;
    background-image: url(./images/paperplane.png);
    background-repeat: no-repeat; 
    background-position: center;
}

.copy {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
    float:left;
    margin-top: 69px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wk6ale');
  src:  url('../fonts/icomoon.eot?wk6ale#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wk6ale') format('truetype'),
    url('../fonts/icomoon.woff?wk6ale') format('woff'),
    url('../fonts/icomoon.svg?wk6ale#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
    font-size: 28px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #6c6c6c;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-with-circle:before {
  content: "\e900";
}
.icon-facebook-with-circle:before {
  content: "\e901";
}
.icon-pinterest-with-circle:before {
  content: "\e902";
}
.icon-twitter-with-circle:before {
  content: "\e903";
}

.social {
    float: left;
    width: 129px;
    margin-left: 158px;
    margin-top: 69px;
}

.social_link {
    text-decoration-line: none;
}

.terms {
    float:left;
    margin-left: 155px;
    margin-top: 69px;
}

.terms-link {
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}
